<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LTBRReport</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>test.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>This one is used to find and count the stocks present</description>
    <display-name>ReviewDeterminer</display-name>
    <servlet-name>ReviewDeterminer</servlet-name>
    <servlet-class>com.SA.gate.ReviewDeterminer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewDeterminer</servlet-name>
    <url-pattern>/lbtr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This one is used to find and count the stocks present</description>
    <display-name>ReviewDeterminerTC</display-name>
    <servlet-name>ReviewDeterminerTC</servlet-name>
    <servlet-class>com.SA.gate.TC2Table</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewDeterminerTC</servlet-name>
    <url-pattern>/tc2tbl</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>This one is used to find and count the stocks present</description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.SA.gate.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PositiveWords</display-name>
    <servlet-name>PositiveWords</servlet-name>
    <servlet-class>com.SA.gate.PositiveWords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PositiveWords</servlet-name>
    <url-pattern>/PositiveWords</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>NegativeWords</display-name>
    <servlet-name>NegativeWords</servlet-name>
    <servlet-class>com.SA.gate.NegativeWords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NegativeWords</servlet-name>
    <url-pattern>/NegativeWords</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>ProductWords</display-name>
    <servlet-name>ProductWords</servlet-name>
    <servlet-class>com.SA.gate.ProductWords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductWords</servlet-name>
    <url-pattern>/ProductWords</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>AddWords</display-name>
    <servlet-name>AddWords</servlet-name>
    <servlet-class>com.SA.gate.AddWords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWords</servlet-name>
    <url-pattern>/AddWords</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>AjaxAddPositiveWords</display-name>
    <servlet-name>AjaxAddPositiveWords</servlet-name>
    <servlet-class>com.SA.gate.AjaxAddPositiveWords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxAddPositiveWords</servlet-name>
    <url-pattern>/AjaxAddPositiveWords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxAddNegativeWords</display-name>
    <servlet-name>AjaxAddNegativeWords</servlet-name>
    <servlet-class>com.SA.gate.AjaxAddNegativeWords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxAddNegativeWords</servlet-name>
    <url-pattern>/AjaxAddNegativeWords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxAddProducts</display-name>
    <servlet-name>AjaxAddProducts</servlet-name>
    <servlet-class>com.SA.gate.AjaxAddProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxAddProducts</servlet-name>
    <url-pattern>/AjaxAddProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetSessionUser</display-name>
    <servlet-name>SetSessionUser</servlet-name>
    <servlet-class>com.SA.gate.SetSessionUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSessionUser</servlet-name>
    <url-pattern>/SetSessionUser</url-pattern>
  </servlet-mapping>  
 <servlet>
    <description></description>
    <display-name>ReadXLFile</display-name>
    <servlet-name>ReadXLFile</servlet-name>
    <servlet-class>com.SA.gate.ReadXLFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadXLFile</servlet-name>
    <url-pattern>/ReadXLFile</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>OverTimeAnalysis</display-name>
    <servlet-name>OverTimeAnalysis</servlet-name>
    <servlet-class>com.SA.gate.OverTimeAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OverTimeAnalysis</servlet-name>
    <url-pattern>/OverTimeAnalysis</url-pattern>
  </servlet-mapping>
 <servlet>
    <description></description>
    <display-name>OTAChart</display-name>
    <servlet-name>OTAChart</servlet-name>
    <servlet-class>com.SA.gate.OTAChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTAChart</servlet-name>
    <url-pattern>/OTAChart</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
   <servlet-mapping>
        <servlet-name>DisplayChart</servlet-name>
        <url-pattern>/servlet/DisplayChart</url-pattern>
    </servlet-mapping>
</web-app>
